Repository Kordrad/Confiks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(cli/readme): sort and group packages (#56)
  packages/cli/README.md
  packages/cli/src/cli.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs: add information about versions of packages
  packages/cli/README.md
Due: none

docs: add information about versions of packages (#59)
  packages/cli/README.md
Due: none

refactor(package-json.utils): improve logic
  packages/cli/src/utils/package-json.utils.spec.ts
  packages/cli/src/utils/package-json.utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(package-json.utils): improve logic (#60)
  packages/cli/src/utils/package-json.utils.spec.ts
  packages/cli/src/utils/package-json.utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.4.1
  packages/cli/package.json
Due: prettier --write --ignore-unknown

ci(pretty-quick): remove package and improve configuration
  .github/workflows/pull-request-performance.yml
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
  packages/cli/src/components/prompts/multiselect.prompt.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

ci(pretty-quick): remove package and improve configuration (#61)
  .github/workflows/pull-request-performance.yml
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
  packages/cli/src/components/prompts/multiselect.prompt.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(stylelint): add package
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/stylelint/stylelint.package.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/node/child-process.service.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/dependency-type.enum.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
  packages/cli/src/type/types/packages-dependency-group.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(stylelint): add package (#62)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/stylelint/stylelint.package.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/node/child-process.service.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/dependency-type.enum.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
  packages/cli/src/type/types/packages-dependency-group.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test(npm/pnpm.service): add missing test for create
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test(npm/pnpm.service): add missing test for create (#63)
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test(stylelint): add basic tests
  packages/cli/src/components/packages/stylelint/stylelint.package.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test(stylelint): add basic tests (#64)
  packages/cli/src/components/packages/stylelint/stylelint.package.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(stylelint-config-standard-scss): add package
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.spec.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/components/packages/stylelint/stylelint.constants.ts
  packages/cli/src/components/packages/stylelint/stylelint.package.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(stylelint-config-standard-scss): add package (#65)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.spec.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/components/packages/stylelint/stylelint.constants.ts
  packages/cli/src/components/packages/stylelint/stylelint.package.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix(commit-lint): generate config
  packages/cli/src/components/packages/commit-lint/commit-lint.constants.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.constants.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/commit-lint/config-conventional/config-conventional.package.spec.ts
  packages/cli/src/components/packages/commit-lint/config-conventional/config-conventional.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix(commit-lint): generate config (#66)
  packages/cli/src/components/packages/commit-lint/commit-lint.constants.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.constants.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/commit-lint/config-conventional/config-conventional.package.spec.ts
  packages/cli/src/components/packages/commit-lint/config-conventional/config-conventional.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(pretty-quick): remove package from CLI
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/type/enums/packages.enum.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(pretty-quick): remove package from CLI (#67)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/type/enums/packages.enum.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.5.0
  packages/cli/package.json
Due: prettier --write --ignore-unknown

feat(yarn): add support for package manager
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager/package-manager.service.spec.ts
  packages/cli/src/services/package-manager/package-manager.service.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/installation-type.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(package-manager): move logic from separated files
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager/package-manager.service.spec.ts
  packages/cli/src/services/package-manager/package-manager.service.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/installation-type.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(package-manager): move logic from separated files (#69)
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager/package-manager.service.spec.ts
  packages/cli/src/services/package-manager/package-manager.service.ts
  packages/cli/src/services/package-managers/npm.service.spec.ts
  packages/cli/src/services/package-managers/npm.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm.service.spec.ts
  packages/cli/src/services/package-managers/pnpm.service.ts
  packages/cli/src/type/enums/installation-type.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix(husky): fix husky addHook
  packages/cli/src/components/packages/husky/husky.package.spec.ts
  packages/cli/src/components/packages/husky/husky.package.ts
  packages/cli/src/services/node/__mocks__/file-system.service.ts
  packages/cli/src/services/node/file-system.service.ts
  packages/cli/src/services/packages/husky/__mocks__/husky.service.ts
  packages/cli/src/services/packages/husky/husky.service.spec.ts
  packages/cli/src/services/packages/husky/husky.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix(husky): fix husky addHook (#70)
  packages/cli/src/components/packages/husky/husky.package.spec.ts
  packages/cli/src/components/packages/husky/husky.package.ts
  packages/cli/src/services/node/__mocks__/file-system.service.ts
  packages/cli/src/services/node/file-system.service.ts
  packages/cli/src/services/packages/husky/__mocks__/husky.service.ts
  packages/cli/src/services/packages/husky/husky.service.spec.ts
  packages/cli/src/services/packages/husky/husky.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

ci: enable strict mode
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  tsconfig.base.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix(choices): strict mode errors
  packages/cli/src/components/choices/base.choice.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/type/interfaces/choice-state.interface.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  packages/cli/src/type/types/keypress.type.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: fix some errors
  packages/cli/src/cli.ts
  packages/cli/src/components/prompts/multiselect.prompt.ts
  packages/cli/src/services/packages/eslint/eslint.service.ts
  packages/cli/src/type/interfaces/prompt.interface.ts
  tsconfig.base.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.5.1
  packages/cli/package.json
Due: prettier --write --ignore-unknown

refactor(eslint, choice): enable strict mode
  packages/cli/src/cli.ts
  packages/cli/src/components/choices/base.choice.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/eslint/configs/eslintrc-confiks.constant.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/prompts/multiselect.prompt.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/node/file-system.service.spec.ts
  packages/cli/src/services/packages/eslint/eslint.service.ts
  packages/cli/src/type/interfaces/choice-state.interface.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  packages/cli/src/type/interfaces/eslint-config.interface.ts
  packages/cli/src/type/interfaces/prompt.interface.ts
  packages/cli/src/type/types/keypress.type.ts
  packages/cli/src/type/utils/required.type-util.ts
  tsconfig.base.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: enable strict mode (#72)
  packages/cli/src/cli.ts
  packages/cli/src/components/choices/base.choice.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/eslint/configs/eslintrc-confiks.constant.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/prompts/multiselect.prompt.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/node/file-system.service.spec.ts
  packages/cli/src/services/packages/eslint/eslint.service.ts
  packages/cli/src/type/interfaces/choice-state.interface.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  packages/cli/src/type/interfaces/eslint-config.interface.ts
  packages/cli/src/type/interfaces/prompt.interface.ts
  packages/cli/src/type/types/keypress.type.ts
  packages/cli/src/type/utils/required.type-util.ts
  tsconfig.base.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs(package.json): fix typo in description
  packages/cli/package.json
Due: prettier --write --ignore-unknown

fix(eslint): replace errors to warn
  packages/cli/src/components/packages/eslint/configs/eslintrc-confiks.constant.ts
  packages/cli/src/type/interfaces/eslint-config.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

ci(eslint): change errors to warn
  .eslintrc.json
Due: prettier --write --ignore-unknown

ci(eslint): change errors to warn (#75)
  .eslintrc.json
Due: prettier --write --ignore-unknown

fix(eslint): replace errors to warn (#74)
  packages/cli/src/components/packages/eslint/configs/eslintrc-confiks.constant.ts
  packages/cli/src/type/interfaces/eslint-config.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs(package.json): fix typo in description (#73)
  packages/cli/package.json
Due: prettier --write --ignore-unknown

refactor: clean up code & improve type
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/choices/separator.choice.ts
  packages/cli/src/components/packages/base.package.ts
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager/package-manager.service.spec.ts
  packages/cli/src/services/package-manager/package-manager.service.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/package.interface.ts
  packages/cli/src/type/types/package-version.type.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: package type instance
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/base.package.ts
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager/package-manager.service.spec.ts
  packages/cli/src/services/package-manager/package-manager.service.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/package.interface.ts
  packages/cli/src/type/types/package-version.type.ts
  packages/cli/src/type/types/packages.type.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,html}
