Repository Kordrad/Confiks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

build: update dependencies
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/project.json
  packages/cli/src/components/packages/base.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(eslint/husky): move services folder to ./packages
  packages/cli/src/components/packages/commit-lint/commi-lint.package.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/eslint/eslint.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/services/packages/eslint/config-management.interface.ts
  packages/cli/src/services/packages/eslint/eslint.service.ts
  packages/cli/src/services/packages/eslint/js-config.service.ts
  packages/cli/src/services/packages/eslint/json-config.service.ts
  packages/cli/src/services/packages/eslint/yaml-config.service.ts
  packages/cli/src/services/packages/husky/husky.service.spec.ts
  packages/cli/src/services/packages/husky/husky.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: improve mocks modules
  .eslintrc.json
  jest.config.ts
  packages/cli/jest.config.ts
  packages/cli/src/components/packages/commit-lint/commi-lint.package.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/services/node/__mocks__/child-process.service.ts
  packages/cli/src/services/node/__mocks__/file-system.service.ts
  packages/cli/src/services/node/child-process.service.ts
  packages/cli/src/services/node/file-system.service.ts
  packages/cli/src/services/package-manager.service.spec.ts
  packages/cli/src/services/packages/husky/__mocks__/husky.service.ts
  packages/cli/src/services/packages/husky/husky.service.spec.ts
  packages/cli/src/services/packages/husky/husky.service.ts
  packages/cli/tsconfig.lib.json
  packages/cli/tsconfig.spec.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.2.1
  packages/cli/package.json
Due: prettier --write --ignore-unknown

refactor(lint-staged): move config content into constant file
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(eslint): improve config constants and tests
  packages/cli/src/components/packages/eslint/configs/eslintrc-confiks.constant.spec.ts
  packages/cli/src/components/packages/eslint/configs/eslintrc-confiks.constant.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/type/interfaces/eslint-config.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.2.2
  packages/cli/package.json
Due: prettier --write --ignore-unknown

docs(readme.md): add missing info about config-conventional
  packages/cli/README.md
  packages/cli/src/components/packages/commit-lint/config-conventional.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(packages): remove constant instance
  packages/cli/src/cli.ts
  packages/cli/src/components/packages/commit-lint/commi-lint.package.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/commit-lint/config-conventional.package.spec.ts
  packages/cli/src/components/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/husky/husky.package.spec.ts
  packages/cli/src/components/packages/husky/husky.package.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier.package.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/services/initializer.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: remove instances of classes in constants (#44)
  packages/cli/src/cli.ts
  packages/cli/src/components/packages/commit-lint/commi-lint.package.spec.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/commit-lint/config-conventional.package.spec.ts
  packages/cli/src/components/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.spec.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/husky/husky.package.spec.ts
  packages/cli/src/components/packages/husky/husky.package.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged-config.constant.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier.package.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/services/initializer.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.2.3
  packages/cli/package.json
Due: prettier --write --ignore-unknown

ci(@types/inquirer): remove devDependency
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

ci(@types/inquirer): remove devDependency (#47)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat(cli/enquirer): categorize prompts and improve choices
  packages/cli/src/cli.ts
  packages/cli/src/components/choices/base.choice.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/choices/separator.choice.ts
  packages/cli/src/components/package-choice.component.ts
  packages/cli/src/components/prompts/multiselect.prompt.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  packages/cli/src/type/interfaces/prompt.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(cli/enquirer): categorize prompts and improve choices (#46)
  packages/cli/src/cli.ts
  packages/cli/src/components/choices/base.choice.ts
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/choices/separator.choice.ts
  packages/cli/src/components/package-choice.component.ts
  packages/cli/src/components/prompts/multiselect.prompt.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  packages/cli/src/type/interfaces/prompt.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: remove .gitkeep
  packages/.gitkeep
Due: none

refactor: remove .gitkeep (#48)
  packages/.gitkeep
Due: none

docs(readme.md): improve text and add info about package managers
  packages/cli/README.md
Due: none

docs(readme.md): improve text and add info about package managers (#50)
  packages/cli/README.md
Due: none

feat(pnpm): add package manager
  packages/cli/src/services/package-manager.service.ts
  packages/cli/src/services/package-managers/npm-manager.service.ts
  packages/cli/src/services/package-managers/pnpm-manager.service.ts
  packages/cli/src/type/enums/dependency-type.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs(readme.md): add info about supported package managers
  packages/cli/README.md
Due: none

refactor(package-managers/.): little refactor + tests
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/npm-manager.service.spec.ts
  packages/cli/src/services/package-managers/npm-manager.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm-manager.service.spec.ts
  packages/cli/src/services/package-managers/pnpm-manager.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(pnpm): add package manager (#49)
  packages/cli/README.md
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager.service.spec.ts
  packages/cli/src/services/package-manager.service.ts
  packages/cli/src/services/package-managers/npm-manager.service.spec.ts
  packages/cli/src/services/package-managers/npm-manager.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/services/package-managers/pnpm-manager.service.spec.ts
  packages/cli/src/services/package-managers/pnpm-manager.service.ts
  packages/cli/src/type/enums/dependency-type.enum.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(prettier-plugin-organize-attributes): add extension to prettier
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.ts
  packages/cli/src/components/packages/prettier/prettier.constants.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier.package.ts
  packages/cli/src/type/enums/packages.enum.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(prettier-plugin-organize-attributes): add extension to prettier (#53)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.ts
  packages/cli/src/components/packages/prettier/prettier.constants.ts
  packages/cli/src/components/packages/prettier/prettier.package.spec.ts
  packages/cli/src/components/packages/prettier/prettier.package.ts
  packages/cli/src/type/enums/packages.enum.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs(readme.md): update command to use latest confiks version
  packages/cli/README.md
Due: none

docs(readme.md): update command to use latest confiks version (#54)
  packages/cli/README.md
Due: none

build(cli): v1.3.0
  packages/cli/package.json
Due: prettier --write --ignore-unknown

feat(packages): specify version of packages
  package-lock.json
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/base.package.spec.ts
  packages/cli/src/components/packages/base.package.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/husky/husky.package.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.ts
  packages/cli/src/components/packages/prettier/prettier.package.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
  packages/cli/src/type/interfaces/package.interface.ts
  packages/cli/src/type/types/package-version.type.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(packages): specify version of packages (#55)
  package-lock.json
  packages/cli/src/components/choices/package.choice.ts
  packages/cli/src/components/packages/base.package.spec.ts
  packages/cli/src/components/packages/base.package.ts
  packages/cli/src/components/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/components/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.ts
  packages/cli/src/components/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.ts
  packages/cli/src/components/packages/eslint/eslint.package.ts
  packages/cli/src/components/packages/husky/husky.package.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/components/packages/prettier/prettier-plugin-organize-attributes/prettier-plugin-organize-attributes.package.ts
  packages/cli/src/components/packages/prettier/prettier.package.ts
  packages/cli/src/components/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-managers/package-manager.service.spec.ts
  packages/cli/src/services/package-managers/package-manager.service.ts
  packages/cli/src/type/interfaces/package-manager.interface.ts
  packages/cli/src/type/interfaces/package.interface.ts
  packages/cli/src/type/types/package-version.type.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.4.0
  packages/cli/package.json
Due: prettier --write --ignore-unknown

refactor(cli/readme): sort and group packages
  packages/cli/README.md
  packages/cli/src/cli.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor(cli/readme): sort and group packages (#56)
  packages/cli/README.md
  packages/cli/src/cli.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Revert "refactor(cli/readme): sort and group packages (#56)"
  packages/cli/README.md
  packages/cli/src/cli.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,html}
