Repository Kordrad/Confiks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --quiet --fix"],
  "*.{json,js,ts,html}": ["prettier --write --ignore-unknown"]
}

ci(lint): add github automation
  .github/workflows/pull-request-lint.yml
  package.json
  packages/cli/src/packages/base.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

ci(lint): add github automation (#22)
  .github/workflows/pull-request-lint.yml
  package.json
  packages/cli/src/packages/base.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(packages): add description
  packages/cli/src/components/package-choice.component.ts
  packages/cli/src/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/packages/husky/husky.package.ts
  packages/cli/src/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/packages/prettier/prettier.package.ts
  packages/cli/src/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/type/interfaces/package.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(packages): add description (#23)
  packages/cli/src/components/package-choice.component.ts
  packages/cli/src/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/packages/husky/husky.package.ts
  packages/cli/src/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/packages/prettier/prettier.package.ts
  packages/cli/src/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/type/interfaces/package.interface.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs: improve information about project
  README.md
  packages/cli/README.md
  packages/cli/package.json
  readme/demo.gif
Due: prettier --write --ignore-unknown

docs: improve information about project (#24)
  README.md
  packages/cli/README.md
  packages/cli/package.json
  readme/demo.gif
Due: prettier --write --ignore-unknown

chore: 1.0.0
  packages/cli/package.json
Due: prettier --write --ignore-unknown

chore: 1.0.0 (#25)
  packages/cli/package.json
Due: prettier --write --ignore-unknown

ci(nx): migrate nx to v16.10.0 (#21)
  package-lock.json
  package.json
  packages/cli/jest.config.ts
  packages/cli/package.json
  packages/cli/project.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(cli): improve design and functionality (#20)
  .eslintrc.json
  .github/workflows/pull-request-tests.yml
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/components/package-choice.component.ts
  packages/cli/src/components/separator.component.ts
  packages/cli/src/packages/base.package.spec.ts
  packages/cli/src/packages/base.package.ts
  packages/cli/src/packages/commit-lint/commi-lint.package.spec.ts
  packages/cli/src/packages/commit-lint/commit-lint.package.ts
  packages/cli/src/packages/commit-lint/config-conventional.package.ts
  packages/cli/src/packages/husky/husky.package.spec.ts
  packages/cli/src/packages/husky/husky.package.ts
  packages/cli/src/packages/lint-staged/lint-staged.package.spec.ts
  packages/cli/src/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/packages/packages.const.ts
  packages/cli/src/packages/prettier/prettier.package.spec.ts
  packages/cli/src/packages/prettier/prettier.package.ts
  packages/cli/src/packages/pretty-quick/pretty-quick.package.spec.ts
  packages/cli/src/packages/pretty-quick/pretty-quick.package.ts
  packages/cli/src/questions.ts
  packages/cli/src/services/inicjalizator.service.spec.ts
  packages/cli/src/services/inicjalizator.service.ts
  packages/cli/src/services/initializer.service.spec.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/node/child-process.service.ts
  packages/cli/src/services/package-manager.service.spec.ts
  packages/cli/src/services/package-manager.service.ts
  packages/cli/src/type/enums/question-names.enum.ts
  packages/cli/src/type/interfaces/base-package.interface.ts
  packages/cli/src/type/interfaces/choice.interface.ts
  packages/cli/src/type/interfaces/package.interface.ts
  packages/cli/src/utils/git.utils.ts
  packages/cli/src/utils/logs.utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

ci(eslint/prettier): improve configurations
  .eslintrc.json
  packages/cli/src/cli.ts
  packages/cli/src/components/package-choice.component.ts
  packages/cli/src/packages/base.package.ts
  packages/cli/src/services/initializer.service.ts
  packages/cli/src/services/package-manager.service.ts
  packages/cli/src/type/interfaces/package.interface.ts
  packages/cli/tsconfig.lib.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(release.yml): add template for release
  .github/release.yml
Due: none

test(lint-staged): fix title for tests
  packages/cli/src/packages/lint-staged/lint-staged.package.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs(package.json): update information about project
  packages/cli/package.json
Due: prettier --write --ignore-unknown

fix(cli): select extensions question
  packages/cli/src/cli.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build: v1.0.1
  packages/cli/package.json
Due: prettier --write --ignore-unknown

feat(cli): add section separator
  packages/cli/src/cli.ts
  packages/cli/src/components/separator.component.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat(eslint): add package with extensions
  package-lock.json
  packages/cli/src/cli.ts
  packages/cli/src/packages/eslint/configs/eslintignore.constant.ts
  packages/cli/src/packages/eslint/configs/eslintrc-confiks.constant.ts
  packages/cli/src/packages/eslint/configs/eslintrc.constant.ts
  packages/cli/src/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.spec.ts
  packages/cli/src/packages/eslint/eslint-plugin-prettier/eslint-plugin-prettier.package.ts
  packages/cli/src/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.spec.ts
  packages/cli/src/packages/eslint/eslint-plugin-simple-import-sort/eslint-plugin-simple-import-sort.package.ts
  packages/cli/src/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.spec.ts
  packages/cli/src/packages/eslint/eslint-plugin-unicorn/eslint-plugin-unicorn.package.ts
  packages/cli/src/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.spec.ts
  packages/cli/src/packages/eslint/eslint-plugin-unused-imports/eslint-plugin-unused-imports.package.ts
  packages/cli/src/packages/eslint/eslint.package.spec.ts
  packages/cli/src/packages/eslint/eslint.package.ts
  packages/cli/src/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/packages/prettier/prettier.constant.ts
  packages/cli/src/packages/prettier/prettier.constants.ts
  packages/cli/src/packages/prettier/prettier.package.ts
  packages/cli/src/services/eslint/config-management.interface.ts
  packages/cli/src/services/eslint/eslint.service.ts
  packages/cli/src/services/eslint/js-config.service.ts
  packages/cli/src/services/eslint/json-config.service.ts
  packages/cli/src/services/eslint/yaml-config.service.ts
  packages/cli/src/services/node/file-system.service.spec.ts
  packages/cli/src/services/node/file-system.service.ts
  packages/cli/src/type/enums/eslint-config-extensions.enum.ts
  packages/cli/src/type/enums/packages.enum.ts
  packages/cli/src/type/interfaces/eslint-config.interface.ts
  packages/cli/src/utils/json.utils.ts
  packages/cli/src/utils/package-json.utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build: v1.1.0
  packages/cli/package.json
Due: prettier --write --ignore-unknown

docs: improve information about project and CLI
  README.md
  package-lock.json
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/package.json
  readme/demo.gif
Due: prettier --write --ignore-unknown

build(CLI): add engines version
  packages/cli/package.json
Due: prettier --write --ignore-unknown

ci(tsconfig/cli): fix config for jest tests
  packages/cli/tsconfig.json
  packages/cli/tsconfig.lib.json
  packages/cli/tsconfig.spec.json
Due: prettier --write --ignore-unknown

feat(stylelint/stylelint-config-standard-scss): add packages
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/components/packages/lint-staged/lint-staged.package.ts
  packages/cli/src/components/packages/stylelint/stylelint-config-standard-scss/stylelint-config-standard-scss.package.ts
  packages/cli/src/components/packages/stylelint/stylelint.package.ts
  packages/cli/src/services/npm/npm.service.ts
  packages/cli/src/services/stylelint/stylelint.service.ts
  packages/cli/src/type/enums/packages.enum.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

build(cli): v1.2.0
  packages/cli/package.json
Due: prettier --write --ignore-unknown

docs(cli): add information why I created tool
  packages/cli/README.md
Due: none

build: update dependencies
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/project.json
  packages/cli/src/components/packages/base.package.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown
